
body{width:90%;
max-width: 1100%;
}
.icon{list-style: none;
display: flex;
letter-spacing: 20px;
text-align: end;
margin-left: auto;
margin-right: 7 px;
}
.flex{display: flex;
padding: 3px;
margin: 5px;
margin-left: 10px;
}
a{text-decoration: none;
padding: 10px;
margin:5px;
color: black;
}
.menu{display: flex;
list-style: none;
margin-top: 0;
margin-left: 5px;
}
.border:hover{border-bottom: 1px 
solid red;
}
button{background-color: black;
color: white;
margin-left: auto;
margin-right: auto;
padding: 5px;
}
.content{display: flex;
flex-direction: column;
justify-content: flex-end;
text-align: center;
background-image: url(background.jpg);
width:100%;
height:440px;
margin-bottom: 10px;
}
.bottom{margin-bottom: 13px;
color: white;
}
h2{color: black;
}
.column-1{display: flex;
flex-direction: column;
border:2px solid white;
box-shadow: 4px 5px 5px gainsboro;
}
h4{color:blue;
margin-left: 10px;
}
p{margin-left: 10px;
color: black;
}
.one{margin-left: 10px;
}
.grid{display: grid;
grid-template-columns: repeat(4,100fr);
column-gap: 10px;
}
.xbox-btn{background-color: black;
color: white;
}
.xbox{justify-content:flex-end;
 display: flex;
 flex-direction: column;
 margin-left: 10px; 
 background-image:url(xbox.jpg);
 width:100%;
 height:340px;
 margin-top:auto;
 margin-bottom:25px;
}
.no-1{margin-left:10px;
}
.cards{display:flex;
flex-direction:column;
}
.all-cards{display: grid;
grid-template-columns: repeat(4,100fr);
margin-left: 10px;
}
.last{display: flex;
}
.learn{display: flex;
flex-direction: column;
background-image: url(work.jpg);
width: 100%;
height:440px;
justify-content: flex-end;}
.same{color: white;
}
.same-3{margin-left: auto;
margin-right: auto;
background-color: white;
color: black;
}
.op{margin-right: auto;
margin-left: 10px;
}
.same-2{color: white;
}



@media screen and (max-width:500px){
.menu{display: block;
position: absolute;
top:0;
left:0;
background: #f2f2f2;
width: 50%;
height:100%;
border-right:#ccc 1px solid;
opacity: 0.9;
padding: 30px;
transform:translateX(-500px);
transition: transform 0.05s ease-in-out;
color:black;
background-color: white;
}
.show{transform:translateX(-20px);
}
.content{width:100%;
}
.ek{font-size: medium;
}
.ek{font-size: small;
}
.teen{font-size: small;
}
.grid{display: flex;
flex-direction: column;
justify-content: baseline;
text-align: center;
}
.column-1{margin-left: auto;
margin-right: auto;
margin-top: 7px;
padding: 4px;
}
.one{font-size: medium;
}
p{font-size: small;
}
.xbox{width: 100%;
justify-content: center;
text-align: center;
}
.no-1{font-size: small;
}
.no-2{font-size: large;
}
.xbox-btn{font-size: x-small;
}
.all-cards{display: flex;
flex-direction: column;
}
.cards{justify-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.learn{width: 100%;
justify-content: center;
text-align: center;
}
.op{margin-left: auto;
margin-right: auto;
}
.same{font-size: medium;
}
.same-2{font-size: small;
}
.same-3{font-size: x-small;
}
.one-1{font-size: small;
}
.now{font-size: small;
}
.last{font-size: medium;text-align: center;
}

}





